*/.DS_Store
.DS_Store

*.iml
*.class
*/**.class
*.jar
*/**.jar
*/comp1110/
**.idea/**

models/midas_weights/
models/intel-isl_MiDaS_master/
*/**.pt

*/**.gif
**/__pycache__/

outputs/
sketchnerf.egg-info/
sketchnerf.zip